.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vh;
  background-color: #5f939a;
  color: white;
  position: fixed;
  width: 100%;
}
.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link-styles {
  color: #1b2021;
}
.app-logo {
  color: #1b2021;
}
.nav-Links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.createPostContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
}
